.follow-button-success{
    margin-left: 0px;
    /* width: fit-content; */
    display:flex;
    /* padding: 2px 0px 0px 15px; */
    /* height: 30px; */
    color: #2962e6;
    font-size:"15px"
  }

  .follow-button-success>p{
   
  }


  .follow-button-success>p:hover{
    /* color: #0755fd; */
    /* border-radius: 40px; */
    cursor: pointer;
    display:flex;
  }
  .follow-button-fail{
    margin-left: 10px;
    width: fit-content;
    display:flex;
    padding: 2px 15px 0px 15px;
    height: 30px;
    color:#989898;
  }

  .follow-button-fail>p:hover{
    /* background-color: #edeff2; */
    /* border-radius: 40px; */
    cursor: pointer;
    display:flex;
  }
  .follow-button-text{
    padding-left: 5px;
    padding-right: 5px;
  }
  .follow-button-separator{
    margin-top: -4px;
  }
  .follow-button-number{
    padding-left: 5px;
    font-size: small;
  }
  .follow-button-text-fail{
      
      padding-left: 5px;
    
  }