.alert {
    padding: 1rem 2rem;
    border-radius: 5px;
    position: fixed;
    top: 4rem;
    right: 25rem;
    min-width: 200px;
}

.alert-success {
    background-color: var(--alert-success-bg-color);
    color: var(--alert-success-text-color);
}

.alert-danger {
    background-color: var(--alert-danger-bg-color);
    color: var(--alert-danger-text-color);
}
