.main-homescreen{
  margin-top: 4.5rem;
  padding-left: 1%;
  position: absolute;
  width: 100%;
  }
  .loaders{
    margin-left:10px;
  }
  .homepage-homescreen{
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 2px;
    width:70%;
    min-width: 500px;
    max-width:888.15px;
    /* width: 100%; */
    margin: 0 auto;
    margin-left: 0%;
     padding-left: 20%;
    /* padding-right: 20%; */ 
    /* padding-right: 20%; */
    }
    .homepage-homescreen::-webkit-scrollbar {
      display: none;
    }
  
  
    @media only screen and (max-width: 450px) {
      .homepage-homescreen {
         padding-left: 3%;
         padding-right: 12%;
         min-width: 396px;
        }
        .quoraBox{

        }
      .search-btn{
        display: flex;
      }
      .question{
        display: none;
      }
      .search-txt{word-wrap:break-word;}
      
    }
  .homee-homescreen{
   
  /* background-color: #0d0f0f; */

  /* overflow: auto; */
  
  position: fixed;
  top: 5px;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  }
  .posts-homescreen{
    /* background-color: #ffffff; */
    min-height: 155px;
    min-width:300px;
    width: 100%;
    /* margin: 0 0 .6rem 0; */
    padding-left: 0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:0px;
    
    
   
  padding-top: 20px;
  /* border-bottom: solid 10px #e3e8e5; */
  /* background-color: #fff; */
  }
  .postsq{
    /* background-color: #ffffff; */
    min-height: 155px;
    width: 700px;
    /* margin: 0 0 .6rem 0; */
    padding-left: 0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:0px;
    
   
   
  padding-top: 20px;
  /* border-bottom: solid 10px #e3e8e5; */
  /* background-color: #fff; */
  }
  .posts .flex-container{
    
    display: flex;
    flex-wrap: wrap;
  }
  .posts .flex-container > div{
    margin: 5px;
  }
  /*.posts img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
  }*/
  .second-flex{
    display: flex;
    flex-wrap: wrap;
  }
  .second-flex > p{
    padding:0 2px 0 2px;
    margin-bottom: -5px;
  }
  .white{
    color:#989898;
    
  }
  .white-question{
    color:#989898;
  }
  .white-question:hover{
    color:#989898;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .side-homescreen{
    margin-left: 69%;
    /* position: absolute; */
    margin-top:80px;
  }



  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}

/* body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
} */

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	/* margin: 15px 0; */
	height: 10px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}